@media screen and (max-width:514px) {
    
    header nav{
        position:fixed;
        z-index: 10;
        background:var(--main-theme);
        background:#FF5B51;
        height:100vh;
        /* max-width:60vw; */
        width: 60vw;
        top:0;
        right:0;
        box-sizing: border-box;
        visibility: hidden;
        
        
    }
    header nav ul{
        position: absolute;
        flex-direction: column;
        height: 40%;
        top: 15vh;
        align-items: flex-start;
        padding: 0px 40px;

    }

    .header_wrapper::after {
        position: absolute;
        content: "";
        visibility: hidden;
    }

    nav li a {
        text-decoration: none;
        color: #000;
    }

    .title-headlines, .title-description {
        display: none;
    }

    .title-heading {
        flex-basis: 100%;
        padding: 20px 40px 10px 40px;
        font-size: var(--fs-xl);
        line-height: 1.3;
    }

    nav ul::after{
        display: none;
    }

/* ALL NEWS PAGEEEE ////////////////////////////// */

    .allnews-header-wrapper > div{
        display: none;
    }
    .allnews-header-wrapper-small-screen{
        display: flex;
        width:100%;
        padding: 20px;
        background: var(--black-color);
        display: flex;
        flex-direction: column;
    }
    .news-item{
        margin-top: 25px;
        width: 100%;
        height: 100px;
        background: var(--main-color);
        color: var(--black-color);
        text-transform: uppercase;
        font-weight: bolder;
        font-size: var(--fs-s);
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }

/* NEWS PAGE ///////////////////////// */
    .allnews-header-img{
        display: none;
    }
    .allnews-header-headline-date{
        margin-bottom: 28px;
    }
    .news-body{
        width: auto;
        
    }

}