main {
    padding-top: 85px;

}

.main-wrapper {
    width: 100%;
    display: flex;
    background: #000;

}

.main-wrapper .room {
    flex-basis: 50%;
    height: calc(100vh - 85px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.room .room_wrapper {
    width: 100%;
}

.room1 .room_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.room2 .room_wrapper {
    height: 90%;
}

.room1 .room_header {
    width: 100%;
    flex-basis: 25%;
    color: #fff;
    align-items: center;
    box-sizing: border-box;
    padding-left: 8%;
    padding-top: 9%;
}

.room1 .room_main {
    width: 100%;
    display: flex;
    flex-basis: 75%;
    flex-direction: column;
}

.room1 .room_sub_header {
    width: 100%;
    flex-basis: 20%;
    display: flex;
    box-sizing: border-box;
    padding-left: 8.5%;
    align-items: center;
    color: #fff;
    font-size: 2rem;
}

.room1 .room_form {
    flex-basis: 80%;
    width: 100%;
    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    box-sizing: border-box;
    padding-left: 2%;

}

.room1 form {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    align-items: center;

}

.room1 .input_wrapper {
    width: 100%;
    flex-basis: 26%;
    outline: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    box-sizing: border-box;
    padding: 0px 8%;


}

.room_wrapper .textarea {
    flex-basis: 54%;
}

.textarea label {
    flex-basis: 20%;
}

.room1 form textarea {
    resize: none;
    flex-basis: 80%;


}

form label {
    flex-basis: 30%;
}

.input_wrapper input {
    flex-basis: 55%;

}

.room1 .no_entery {
    flex-basis: 20%;
    display: grid;
    place-items: center;

}

.no_entery button {
    height: 70%;
    width: 100%;
    outline: none;
    border: none;
    background: var(--main-theme);
}

/* TO STYLE WHERE ALL THE POST IS GONNA BE */

.all_post {
    display: flex;
    flex-direction: column;


}

.all_post h1 {
    color: #fff;
}

.all_post div.all_post {
    width: 100%;
    height: 100%;
}

.all_post .all_post_header {
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 4% 8%;

}

.all_post .all_post_main {
    flex-basis: 75%;
    display: flex;
    overflow-y: scroll;
    scroll-behavior: smooth;
    flex-direction: column;
    padding: 2%;
    box-sizing: border-box;
    /* justify-content: space-around; */
    align-items: center;
}

.all_post_main .article_post {
    margin: 10px 0;
    width: 80%;
    flex-basis: 100px;
    flex-shrink: 0;
    background: var(--main-theme);
    padding: 6% 2%;
    box-sizing: border-box;
    overflow: hidden;
    overflow-anchor: scroll;
    text-overflow: clip;
    position: relative;
}

.article_post .delete {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 30px;
    background: rgba(85, 85, 85, 0.562);
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    padding: 3px 6px;
    color: #fff;
    display: inline-block;
    outline: none;
    border: none;

}